/* Conteneur général de l’en-tête */
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0 20px;
  position: relative;
}

/* Logo positionné à gauche */
.header-logo {
  position: absolute;
  left: 20px;
}

.logo {
  height: 60px;
}

/* Zone de recherche centrée */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-container input {
  padding-left: 30px;
  height: 30px;
  font-size: 1rem;
  width: 320px;
}

.search-icon {
  position: absolute;
  left: 8px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.bouton-search {
  background-color: #55d7ff;
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 12px;
  height: 30px;
}

#logo-clickable {
  cursor: pointer;
  float: left;
  width: 250px;
  height: 150px;
  display: block;
}
